<div class="d-flex card-chip mt-2 mb-4 ms-2 me-2">
  <span class="line-card-blue me-3"></span>
  <img *ngIf="data?.vitalId == 1" class="me-2" src="../../../../assets/drawable/icon_termometro.svg" alt="termometro">
  <img *ngIf="data?.vitalId == 2" class="me-2" src="../../../../assets/drawable/icon_corazon.svg" alt="corazon">
  <img *ngIf="data?.vitalId == 3" class="me-2" src="../../../../assets/drawable/icon_pulso.svg" alt="pulso">
  <div class="m-auto">
    <p class="h6">{{data?.description}}</p>
    <p class="small-grey">{{data?.date | date:'dd-MM-yyyy HH:mma'}}</p>
  </div>
  <div class="ms-5 dot-wrapper button-icon">
    <span class="dot d-block"></span>
    <span class="dot d-block"></span>
    <span class="dot d-block"></span>
  </div>
</div>
