<!-- Image and text -->
<nav class="navbar navbar-light bg-white nav-shadow">
    <a class="navbar-brand" href="">
      <img src=".\assets\drawable\Perfil.svg" width="50" height="50" class="d-inline-block align-top ms-5 profile-nav" alt="" >
    </a>
    <img src=".\assets\drawable\pill_app_logo_splash.svg" width="200"  class="d-inline-block align-top" alt="" >
    <div class="text-center mt-3 ms-2 me-5">
      <ng-template #viewLogOut></ng-template>
      <button (click)="onLogout()" class="btn btn-outline-primary-cancel-small">
        Log out
      </button>
    </div>
  </nav>