<app-top-navigation></app-top-navigation>
<div
  class="card col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto mt-5 mb-5"
>
  <div class="card-body">
    <div class="mt-5">
      <app-card-cared-person-list *ngFor="let item of (items | async)" [patient]="item"></app-card-cared-person-list>
    </div>

    <div class="text-center mt-5 mb-5">
      <!-- <button class="btn btn-add" routerLink="/patients-creation">+</button> -->
      <button class="btn-add" (click)="add()">+</button>
    </div>
  </div>
</div>
<!--///end main card content-->
