    <!--CARD-->
    <div class="d-flex card-chip mt-2 mb-4 ms-2 me-2">
        <span class="line-card-orange me-3"></span>
        <div>
          <p class="small-grey">{{meeting?.appointmentTimestamp}}</p>
          <!--To do: hora binding-->
          <p class="h6">{{meeting?.description}}</p>
          <!--To do: nombre de medicamento binding-->
          <p class="chip-text-orange text-center">Juan Hijo 2</p>
          <!--To do: nombre de hijo binding-->
        </div>
        <div class="ms-5 dot-wrapper">
          <span class="dot d-block"></span>
          <span class="dot d-block"></span>
          <span class="dot d-block"></span>
        </div>
      </div>
      <!--////CARD-->
