    <!--CARD-->
    <div class="d-flex card-chip mx-5">
        <span class="line-card-orange me-3"></span>
        <div>
          <p class="small-grey">Hoy a las 20:00</p>
          <!--To do: hora binding-->
          <p class="h6">Traumatólogo</p>
          <!--To do: nombre de medicamento binding-->
          <p class="chip-text-orange">Juan Hijo 2</p>
          <!--To do: nombre de hijo binding-->
        </div>
        <div class="ms-5 button-icon">
          <span class="dot d-block"></span>
          <span class="dot d-block"></span>
          <span class="dot d-block"></span>
        </div>
      </div>
      <!--////CARD-->
