<section class="vh-100">
    <div class="card col-12 col-sm-8 col-md-4 col-lg-3 col-xl-3 mx-auto mt-5">
      <div class="card-body mx-5">
        <h1 class="h1 mb-5 mt-5">Login</h1>
        <div>
          <form>
            
            <div class="form-group mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="email"
                placeholder="Email"
              />
              
            </div>
            <div class="form-group mb-3">
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Contraseña"
              />
            </div>
            
            <div class="form-group form-check mb-3">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Recordarme en este dispositivo</label
              >
            </div>
            <div class="mb-5 text-right">
                <p class="mb-5 extrasmall">¿Has olvidado tu contraseña?
                  </p>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mb-3">
                Acceder
              </button>
            </div>
            <p class="mb-5 small text-center">¿No tienes cuenta?
              <a href="">Creala</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>