<section class="vh-100">
  <div class="card col-12 col-sm-8 col-md-4 col-lg-3 col-xl-3 mx-auto mt-5">
    <div class="card-body mx-5">
      <h1 class="h1 mb-5 mt-5">Crear<br />cuenta</h1>
      <div>
        <form>
          
          <div class="form-group mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="email"
              placeholder="Email"
            />
            
          </div>
          <div class="form-group mb-3">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Contraseña"
            />
          </div>
          <div class="form-group mb-3">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Repetir contraseña"
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Nombre de usuario"
            />
          </div>
          <div class="form-group form-check mb-3">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Acepto los términos y condiciones</label
            >
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mb-3">
              Crear cuenta
            </button>
          </div>
          <p class="mb-5 small text-center">
            ¿Ya tienes cuenta?
            <a routerLink="/login">Inicia sesión</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
