<section class="vh-100">
  <div class="card col-12 col-sm-8 col-md-4 col-lg-3 col-xl-3 mx-auto mt-5">
    <div class="card-body mx-5">
      <h1 class="h1 mb-5 mt-5">Crear<br />cuenta</h1>
      <div>
        <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
          <div class="form-group mb-3">
            <!-- Input e-mail-->
            <input
              type="email"
              formControlName="email"
              class="form-control input-email"
              id="email"
              aria-describedby="email"
              placeholder="Email"
            />

            <!-- Div validators email-->
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger mt-2"
            >
              <div *ngIf="email.getError('required')">
                -Este campo se obligatorio
              </div>
              <div *ngIf="email.getError('maxlength')">
                -Este campo tiene un máximo de
                {{ email.getError("maxlength").requiredLength }}
                caracteres
              </div>
              <div *ngIf="email.getError('email')">
                -Este campo debe contener un formato de e-mail valido
              </div>
            </div>
          </div>

          <!-- Input password-->
          <div class="form-group mb-3">
            <input
              type="password"
              formControlName="password"
              class="form-control input-password"
              id="password"
              placeholder="Contraseña"
            />
            <!-- Div validators password-->
            <div
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert alert-danger mt-2"
            >
              <div *ngIf="password.getError('required')">
                -Este campo se obligatorio
              </div>

              <div *ngIf="password.getError('minlength')">
                -Este campo tiene un mínimo de
                {{ password.getError("minlength").requiredLength }}
                caracteres
              </div>
              <div *ngIf="password.getError('hasSpecialCharacters')">
                -Este campo debe contener una mayúscula, un número, un signo de
                puntuación.
              </div>
            </div>
          </div>

          <!-- Input repeatedPassword-->
          <div class="form-group mb-3">
            <input
              type="password"
              formControlName="repeatedPassword"
              class="form-control input-password"
              id="repeatedPassword"
              placeholder="Repetir contraseña"
            />
            <!-- Div validators repeatedPassword-->
            <div
              *ngIf="
                repeatedPassword.invalid &&
                (repeatedPassword.dirty || repeatedPassword.touched)
              "
              class="alert alert-danger mt-2"
            >
              <div *ngIf="repeatedPassword.getError('required')">
                -Este campo se obligatorio
              </div>
              <div *ngIf="repeatedPassword.getError('NoPassswordMatch')">
                -Las contraseñas deben coincidir
              </div>
            </div>
          </div>

          <!-- Input userName-->
          <div class="form-group mb-4">
            <input
              type="text"
              formControlName="userName"
              class="form-control input-person"
              id="userName"
              placeholder="Nombre de usuario"
            />
            <!-- Div validators userName-->
            <div
              *ngIf="userName.invalid && (userName.dirty || userName.touched)"
              class="alert alert-danger mt-2"
            >
              <div *ngIf="userName.getError('required')">
                -Este campo es obligatorio
              </div>
              <div *ngIf="userName.getError('maxlength')">
                -Este campo tiene un máximo de
                {{ userName.getError("maxlength").requiredLength }}
                caracteres {{ password.getError | json }}
              </div>
              <div *ngIf="userName.getError('minlength')">
                -Este campo tiene un mínimo de
                {{ userName.getError("minlength").requiredLength }}
                caracteres {{ password.getError | json }}
              </div>
              <div *ngIf="userName.getError('hasNumberandLetter')">
                -Este campo solo puede contener letras y números sin espacios.
              </div>
            </div>
          </div>

          <!-- Input checkbox-->
          <div class="form-group form-check mb-3">
            <input
              type="checkbox"
              class="form-check-input"
              id="checkbox"
              formControlName="checkbox"
            />
            <label class="form-check-label" for="checkBoxLabel"
              >Acepto los términos y condiciones</label
            >
            <!-- Div validators checkbox-->
            <div
              *ngIf="checkbox.invalid && (checkbox.dirty || checkbox.touched)"
              class="alert alert-danger mt-2"
            >
              <div *ngIf="checkbox.getError('required')">
                -Debe aceptar los términos y condiciones.
              </div>
            </div>
          </div>

          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary mb-3"
              [disabled]="!registerForm.valid"
            >
              Crear cuenta
            </button>
          </div>
          <p class="mb-5 small text-center">
            ¿Ya tienes cuenta?
            <a routerLink="/login">Inicia sesión</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
