<!-- Image and text -->
<nav class="navbar navbar-light bg-white nav-shadow">
  <!-- <a class="navbar-brand" href="javascript:javascript:history.go(-1)">
    <img src=".\assets\drawable\icon_back.svg" width="50" height="50" class="d-inline-block align-top ms-5 profile-nav" alt="" >
  </a> -->
  <a class="navbar-brand" (click)="home()" >
    <img src=".\assets\drawable\icon_back.svg" width="50" height="50" class="d-inline-block align-top ms-5 profile-nav" alt="" >
  </a>
  <div class="text-center mt-3 ms-2 me-5 mb-2">
    <ng-template #viewLogOut></ng-template>
    <button (click)="logout()" class="btn btn-outline-primary-cancel-small mb-3">
      Log out
    </button>
  </div>
</nav>
