<app-header></app-header>

<div class="card col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 mx-auto mt-5">
  <div class="card-body mx-5">
    <div>
      <h1 class="h1">Hola Pepeluis21</h1>
      <!--To do: nombre de usuario binding-->
      <p class="mb-5 h5">Vamos a ver como llevas la agenda</p>
    </div>
    <!--CARD-->
    <div class="d-flex card_chip mx-5">
      <span class="line_card me-3"></span>
      <div>
        <p class="small-grey">Hoy a las 18:00</p>
        <!--To do: hora binding-->
        <p class="h6">Dalsy</p>
        <!--To do: nombre de medicamento binding-->
        <p class="chip-text">Maria hija 1</p>
        <!--To do: nombre de hijo binding-->
      </div>
      <div class="ms-5 button-icon">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
    <!--////CARD-->
    <!--To do: borrar al ponerlos bien-->
    <div>
      <div class="text-center">
        <ng-template #viewLogOut></ng-template>
        <button (click)="onLogout()" class="btn btn-primary mb-3">
          Log out
        </button>
      </div>
      <div class="text-center">
        <a *ngIf="!logedIn; else viewLogOut" class="btn btn-primary mb-3">
          register
        </a>
      </div>
      <div class="text-center">
        <a
          *ngIf="!logedIn; else viewLogOut"
          routerLink="/login"
          class="btn btn-primary mb-3"
        >
          Login
        </a>
      </div>
    </div>
  </div>
</div>
