<app-header></app-header>
<div
  class="card col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto mt-5 mb-5"
>
  <div class="card-body">
    <div>
      <div class="mt-5 ms-5">
        <h1 class="h1">Hola Pepeluis21</h1>
        <!--To do: nombre de usuario binding-->
        <p class="mb-5 h5">Vamos a ver como llevas la agenda</p>
      </div>
    </div>

    <!--DIVIDER WITH LINK-->
    <div class="row justify-content-between mt-5 mb-2">
      <div class="col-6 col-sm-8 col-md-8 col-lg-10 col-xl-10 align-self-center">
        <div class="separation-line ms-5"></div>
      </div>
      <div class="col-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-self-center me-5">
        <a class="small">Ver todo</a>
      </div>
    </div>
    <!--///DIVIDER WITH LINK-->
    <div class="d-flex scrolling-wrapper ms-5 me-5 mb-5">
      <app-card-remember-date *ngFor="let item of (itemsMeeting | async)" [meeting]="item"></app-card-remember-date>
    </div>

    <!--DIVIDER WITH LINK-->
    <p class="h4 ms-5 mt-5"> A tu cargo</p>
    <div class="row justify-content-between  mb-2">
      <div class="col-6 col-sm-8 col-md-8 col-lg-10 col-xl-10 align-self-center">
        <div class="separation-line ms-5"></div>
      </div>
      <div class="col-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-self-center me-5">
        <a class="small" routerLink="/patients-all">Ver todo</a>
      </div>
    </div>
    <!--///DIVIDER WITH LINK-->

    <div class="d-flex scrolling-wrapper mx-5">
      <app-card-cared-person-home *ngFor="let item of (itemsPatient | async)" [patient]="item"></app-card-cared-person-home>
    </div>

    <!--DIVIDER WITH LINK-->
    <p class="h4 ms-5 mt-5"> Te puede interesar</p>
    <div class="row justify-content-between mb-2">
      <div class="col-6 col-sm-8 col-md-8 col-lg-10 col-xl-10 align-self-center">
        <div class="separation-line ms-5"></div>
      </div>
      <div class="col-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-self-center me-5">
        <a class="small">Ver todo</a>
      </div>
    </div>
    <!--///DIVIDER WITH LINK-->
    <button class="ms-5 btn btn-icon mb-3">
      <img class="me-3" src="../../../assets/drawable/icon_informes.svg">
      Acceder
    </button>


    


  </div>
      <!--///end main card content-->

</div>
