/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Colors*/
:root {
  /*Primaries*/
  --primaryGradient: #329d9c;
  --secondaryGradient: #7be495;
  --textColor: #205072;
  --brandColor: #56c596;

  /*Secondaries*/
  --color1: #2c6975;
  --color2: #68b2a0;
  --color3: #cde0c9;
  --color4: #e0ecde;

  /*Variants*/
  --variant1: #47cacc;
  --variant2: #cdb3d4;
  --variant3: #e7b7c8;
  --variant4: #ffbe88;

  /*States*/
  --success: #7be495;
  --warning: #ffcf5c;
  --error: #f75010;
}

/*Text styles*/

.h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--textColor);
}
.h2 {
  font-family: "Montserrat", sans-serif;
}
.h3 {
  font-family: "Montserrat", sans-serif;
}
.h4 {
  font-family: "Montserrat", sans-serif;
  color: var(--textColor);
  font-weight: 700;
  margin-bottom: none;
}
.disabled-h4{
  font-family: "Montserrat", sans-serif;
  color: var(--textColor);
  font-weight: 700;
  margin-bottom: none;
  opacity: .4;
  font-size: calc(1.275rem + .3vw);
}

.h5 {
  font-family: "Montserrat", sans-serif;
  color: var(--color2);
}
.disabled-text-area{
  font-family: "Montserrat", sans-serif;
  color: var(--brandColor);
  font-weight: 700;
  margin-bottom: none;
  opacity: .5;
  font-size: calc(0.75rem + .3vw);
}
.h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--textColor);
  font-weight: 700;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: var(--textColor);
}
.capital-icon {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: white;
  background-color: var(--brandColor);
  border-radius: 1rem;
  padding: 0.2em;
  margin: 0px;
}
.capital-icon-disabled {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: white;
  background-color: #cde0c9;
  border-radius: 1rem;
  padding: 0.2em;
  margin: 0px;
}
.capital-icon-big {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: white;
  background-color: var(--brandColor);
  border-radius: 1rem;
  padding: 0.3em 0.4em;
  margin: auto;
  width: fit-content;
}

.small {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: var(--textColor);
}

.small-grey {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: var(--textColor);
  opacity: 0.34;
  margin: 0em;
}

.extrasmall {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: right;
  color: var(--textColor);
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: var(--primaryGradient);
  text-decoration: none;
}

a:hover {
  color: var(--secondaryGradient);
}

.chip-text-orange {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: var(--variant4);
  margin: 0em;
  border: solid var(--variant4) 2px;
  border-radius: 2em;
  padding: 0.5em;
}

.chip-text-yellow {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: var(--warning);
  margin: 0em;
  border: solid var(--warning) 2px;
  border-radius: 2em;
  padding: 0.5em;
}

.chip-text-blue {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: var(--variant1);
  margin: 0em;
  border: solid var(--variant1) 2px;
  border-radius: 2em;
  padding: 0.5em;
}

.chip-text-green {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: var(--color2);
  margin: 0em;
  border: solid var(--color2) 2px;
  border-radius: 2em;
  padding: 0.5em;
}

/*Input and related*/

input {
  border-radius: 20px;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--brandColor);
}
input[type="date" i] {
  color: var(--brandColor);
}
input[type="time" i] {
  color: var(--brandColor);
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(75%) sepia(17%) saturate(1075%) hue-rotate(103deg) brightness(87%) contrast(92%);
}

.form-select{
  color: var(--brandColor);
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--brandColor);
  opacity: 1; /* Firefox */
}
.form-control:focus {
  box-shadow: -2.2px 0 #7be495, 0 2.2px #7be495, 2.2px 0 #7be495,
    0 -2.2px #7be495;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--brandColor);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--brandColor);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.85rem 0.6rem 0.85rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  background-clip: padding-box;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 3rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.13);
  background-color: #fff;
  border: none;
}

textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.13);
  color: var(--brandColor);
  background-color: #fff;
  appearance: none;
  border-radius: 3rem;
  border: none;
  height: 25vh;
}


label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: var(--color2);
}

.form-check-input[type="checkbox"] {
  border-radius: 117.25em;
}

.form-check-input:checked {
  background-color: var(--brandColor);
  border: none;
}

/*Input decorations*/

.input-email {
  padding-left: 3.8rem;
  background-image: url("assets/drawable/icon_sobre.svg");
  background-position: 1.2rem center;
  background-repeat: no-repeat;
}

.input-password {
  padding-left: 3.8rem;
  background-image: url("assets/drawable/icon_candado.svg");
  background-position: 1.2rem center;
  background-repeat: no-repeat;
}

.input-person {
  padding-left: 3.8rem;
  background-image: url("assets/drawable/icon_person.svg");
  background-position: 1.2rem center;
  background-repeat: no-repeat;
}

/*Buttons*/

.btn {
  border: none;
  width:none;
}
.btn:active {
  background-image: radial-gradient(circle at 6% 0, #56c596, #205072 141%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #fff !important; /*to do: fix this*/

}

.btn-primary {
  margin: 0px;
  border-radius: 1rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  background-image: radial-gradient(circle at 6% 0, #7be495, #329d9c 141%);
  padding: 4% 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.btn-primary:hover {
  margin: 0px;
  border-radius: 1rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  background-image: radial-gradient(circle at 6% 0, #56c596, #205072 141%);
  padding: 16px 96px;
}

.btn-outline-primary-cancel-small {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: var(--error);
  width: fit-content;
  height: 32px;
  border-radius: 1rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  border: solid 2px var(--error);
  margin: auto;
}

.btn-outline-primary-cancel-small:hover {
  background-color: var(--error);
  border: solid 2px var(--error);
  color: white;
}

.btn-outline-primary-cancel-small:focus{ /*To do: fix dis*/
  width: fit-content;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
}

.btn-outline-primary-cancel {
  margin: 0px;
  border-radius: 1rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: var(--error);
  border: solid 4px var(--error);
  width: 224px;
  height: 50px;
}

.btn-outline-primary-cancel:hover {
  background-color: var(--error);
  border: solid 4px var(--error);
  color: white;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
}

.btn-outline-primary-cancel:active {   /*todo: fix this*/
  background-color: var(--error)!important;
  border: solid 4px var(--error)!important;
  color: white !important;
  background-image: var(--error) !important;
}

.btn-icon {
  margin: 0px;
  border-radius: 1rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  background-color: var(--color2);
  padding: 16px 96px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-image: none;
}
.btn-icon:hover {
  margin: 0px;
  border-radius: 1rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  padding: 16px 96px;
  background-color: var(--color2);
  color: #fff;
}
.btn-icon:focus {
  margin: 0px;
  border-radius: 1rem;
  box-shadow: inset 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  padding: 16px 96px;
  background-color: var(--color2);
  color: #fff;
}

.btn-add {
  margin: 0px;
  border-radius: 5rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  background-image: radial-gradient(circle at 6% 0, #7be495, #329d9c 141%);
  padding: 0px 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 8em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fff;
}
.btn-add:hover {
  margin: 0px;
  border-radius: 5rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  padding: 0px 24px;
  color: black;
}
.btn-add:focus {
  margin: 0px;
  border-radius: 5rem;
  box-shadow: none;
  background-image: radial-gradient(circle at 6% 0, #7be495, #329d9c 141%);
  padding: 0px 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 8em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.btn-add-small {
  margin: 0px;
  border-radius: 5rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  background-image: radial-gradient(circle at 6% 0, #7be495, #329d9c 141%);
  padding: 0px 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fff;
}
.btn-add-small:hover {
  margin: 0px;
  border-radius: 5rem;
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.21);
  padding: 0px 16px;
  color: black;
}
.btn-add-small:focus {
  margin: 0px;
  border-radius: 5rem;
  box-shadow: none;
  background-image: radial-gradient(circle at 6% 0, #7be495, #329d9c 141%);
  padding: 0px 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.dropup {
  position: fixed;
	bottom: 5vh;
	right: 5vh;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 400px;
  max-width: 90vw;
  bottom: 50px;
  z-index: 1;
  right: 0;
  border-radius: 1em;
  margin-bottom: 3vh;
}

.dropup-content a {
  color: var(--brandColor);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #e0ecde70;
  border-radius: 1em;
}

.dropup:hover .dropup-content {
  display: block;
}
.drop-separator{
  border-top: 1px solid var(--color3);
  margin: 0px;
}

/*Other elements*/

.card {
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.13);
  background-color: #fff;
  border: none;
  border-radius: 3em;
}

.card-body{
  padding: 0px;
}

.text-area-card {
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.13);
  background-color: #fff;
  border-radius: 3em;
  width: fit-content;
  margin: 1em;
  padding: 3em;
}

/*Nav elementes*/
.nav-shadow {
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.13);
}

.profile-nav:hover {
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.13);
  filter: brightness(1.1);
}

/*home elements*/

.line-card-yellow {
  height: 80px;
  width: 8px;
  background-color: var(--warning);
  border-radius: 99px;
  margin: auto;
}

.line-card-blue {
  height: 80px;
  width: 8px;
  background-color: var(--variant1);
  border-radius: 99px;
  margin: auto;
}

.line-card-orange {
  height: 80px;
  width: 8px;
  background-color: var(--variant4);
  border-radius: 99px;
  margin: auto;
}

.line-card-green {
  height: 80px;
  width: 8px;
  background-color: var(--color2);
  border-radius: 99px;
  margin: auto;
}

.line-card-purple {
  height: 80px;
  width: 8px;
  background-color: var(--variant2);
  border-radius: 99px;
  margin: auto;
}

.card-chip {
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.13);
  background-color: #fff;
  border: none;
  border-radius: 1em;
  width: fit-content;
  padding: 1em;
}
.card-no-chip {
  box-shadow: 17px 17px 44.5px 0 rgba(50, 157, 156, 0.13);
  background-color: #fff;
  border: none;
  border-radius: 1em;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  margin: auto;
}

.dot {
  height: 0.32em;
  width: 0.32em;
  background-color: var(--brandColor);
  border-radius: 50em;
  display: inline-block;
  margin: 0.18em auto;
}

.dot-wrapper {
  background-color: #e0ecde70;
  height: fit-content;
  padding: 0.5em;
  border-radius: 50em;
}
.dot-wrapper-big {
  background-color: #e0ecde70;
  height: fit-content;
  padding: 0.5em;
  border-radius: 50em;
  position: absolute;
  top: 2%;
  right: 5%;
}
.patient-card{
  position: relative;
}




/*horizontal scrolling*/

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
}
::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 17px 17px 44.5px 0 rgba(50, 157, 155, 0.089);
  border-radius: 32px;
}

::-webkit-scrollbar-thumb {
  background: var(--color3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--variant4);
}

/* divider */
.separation-line {
  height: 5px;
  background: var(--color3);
  border-radius: 99px;
  width: 100%;
}