<app-top-navigation></app-top-navigation>
<div
  class="card col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 m-auto mt-5 patient-card"
>
  <div class="card-body m-auto mt-5">
    <div class="dot-wrapper-big">
      <span class="dot d-block"></span>
      <span class="dot d-block"></span>
      <span class="dot d-block"></span>
    </div>
  </div>
  <p class="capital-icon-big">A</p>
  <p class="h4 mt-3 text-center">Juan hijo 1</p>
  <p class="mt-3 text-center disabled-h4">45kg</p>
  <div class="text-area-card disabled-text-area m-auto">
    <p class="">
      Intolerante a la lactosa. Alérgico a la amoxicilina, los ácaros del polvo
      y los gatos
    </p>
  </div>
  <!--DIVIDER WITH LINK-->
  <p class="h4 ms-5 mt-5">Citas médicas</p>
  <div class="row justify-content-between mt-1 mb-2">
    <div class="col-6 col-sm-7 col-md-7 col-lg-8 col-xl-8 align-self-center">
      <div class="separation-line ms-5"></div>
    </div>
    <div
      class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-center me-5"
    >
      <a class="small">Ver todo</a>
    </div>
  </div>
  <!--Cards-->
  <div class="d-flex scrolling-wrapper ms-5 me-5 mb-5">
    <app-card-remember-date-patient></app-card-remember-date-patient>
    <app-card-remember-date-patient></app-card-remember-date-patient>
    <app-card-remember-date-patient></app-card-remember-date-patient>
    <app-card-remember-date-patient></app-card-remember-date-patient>
    <app-card-remember-date-patient></app-card-remember-date-patient>
    <app-card-remember-date-patient></app-card-remember-date-patient>
    <app-card-remember-date-patient></app-card-remember-date-patient>
    <app-card-remember-date-patient></app-card-remember-date-patient>
  </div>
  <!--DIVIDER WITH LINK-->
  <p class="h4 ms-5 mt-5">Prescripciones médicas</p>
  <div class="row justify-content-between mt-1 mb-2">
    <div class="col-6 col-sm-7 col-md-7 col-lg-8 col-xl-8 align-self-center">
      <div class="separation-line ms-5"></div>
    </div>
    <div
      class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-center me-5"
    >
      <a class="small">Ver todo</a>
    </div>
  </div>
  <!--Cards-->
  <div class="d-flex scrolling-wrapper ms-5 me-5 mb-5">
    <app-card-drug-patient></app-card-drug-patient>
    <app-card-drug-patient></app-card-drug-patient>
    <app-card-drug-patient></app-card-drug-patient>
    <app-card-drug-patient></app-card-drug-patient>
    <app-card-drug-patient></app-card-drug-patient>
    <app-card-drug-patient></app-card-drug-patient>
    <app-card-drug-patient></app-card-drug-patient>
    <app-card-drug-patient></app-card-drug-patient>
    <app-card-drug-patient></app-card-drug-patient>
    <app-card-drug-patient></app-card-drug-patient>
  </div>
  <!--DIVIDER WITH LINK-->
  <p class="h4 ms-5 mt-5">Pautas de medición</p>
  <div class="row justify-content-between mt-1 mb-2">
    <div class="col-6 col-sm-7 col-md-7 col-lg-8 col-xl-8 align-self-center">
      <div class="separation-line ms-5"></div>
    </div>
    <div
      class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-center me-5"
    >
      <a class="small">Ver todo</a>
    </div>
  </div>
  <!--Cards-->
  <div class="d-flex scrolling-wrapper ms-5 me-5 mb-5">
    <app-card-vital-patient></app-card-vital-patient>
    <app-card-vital-patient></app-card-vital-patient>
    <app-card-vital-patient></app-card-vital-patient>
    <app-card-vital-patient></app-card-vital-patient>
    <app-card-vital-patient></app-card-vital-patient>
    <app-card-vital-patient></app-card-vital-patient>
    <app-card-vital-patient></app-card-vital-patient>
    <app-card-vital-patient></app-card-vital-patient>
    <app-card-vital-patient></app-card-vital-patient>
  </div>
  <!--DIVIDER WITH LINK-->
  <p class="h4 ms-5 mt-5">Tomas de medicamento</p>
  <div class="row justify-content-between mt-1 mb-2">
    <div class="col-6 col-sm-7 col-md-7 col-lg-8 col-xl-8 align-self-center">
      <div class="separation-line ms-5"></div>
    </div>
    <div
      class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-center me-5"
    >
      <a class="small">Ver todo</a>
    </div>
  </div>
  <!--Cards-->
  <div class="d-flex scrolling-wrapper ms-5 me-5 mb-5">
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
    <app-card-drug-take-patient></app-card-drug-take-patient>
  </div>
  <!--DIVIDER WITH LINK-->
  <p class="h4 ms-5 mt-5">Mediciones realizadas</p>
  <div class="row justify-content-between mt-1 mb-2">
    <div class="col-6 col-sm-7 col-md-7 col-lg-8 col-xl-8 align-self-center">
      <div class="separation-line ms-5"></div>
    </div>
    <div
      class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-center me-5"
    >
      <a class="small">Ver todo</a>
    </div>
  </div>
  <!--Cards-->
  <div class="d-flex scrolling-wrapper ms-5 me-5 mb-5">
    <app-card-vital-take-patient></app-card-vital-take-patient>
    <app-card-vital-take-patient></app-card-vital-take-patient>
    <app-card-vital-take-patient></app-card-vital-take-patient>
    <app-card-vital-take-patient></app-card-vital-take-patient>
    <app-card-vital-take-patient></app-card-vital-take-patient>
    <app-card-vital-take-patient></app-card-vital-take-patient>
    <app-card-vital-take-patient></app-card-vital-take-patient>
    <app-card-vital-take-patient></app-card-vital-take-patient>
    <app-card-vital-take-patient></app-card-vital-take-patient>
    <app-card-vital-take-patient></app-card-vital-take-patient>
  </div>
  <!--DIVIDER WITH LINK-->
  <p class="h4 ms-5 mt-5">Otros encargados</p>
  <div class="row justify-content-between mt-1 mb-2">
    <div class="col-6 col-sm-7 col-md-7 col-lg-8 col-xl-8 align-self-center">
      <div class="separation-line ms-5"></div>
    </div>
    <div
      class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-center me-5"
    >
      <a class="small">Ver todo</a>
    </div>
  </div>
  <!--Cards-->
  <div class="d-flex scrolling-wrapper ms-5 me-5 mb-5">
    <app-card-staff></app-card-staff>
    <app-card-staff></app-card-staff>
    <app-card-staff></app-card-staff>
    <app-card-staff></app-card-staff>
    <app-card-staff></app-card-staff>
    <app-card-staff></app-card-staff>
    <app-card-staff></app-card-staff>
    <app-card-staff></app-card-staff>
    <app-card-staff></app-card-staff>
  </div>
</div>
