<div class="card col-12 col-sm-8 col-md-4 col-lg-3 col-xl-3 m-auto mt-5 patient-card">
  <div class="card-body m-auto mt-5">
      <div class="dot-wrapper-big">
        <span class="dot d-block"></span>
        <span class="dot d-block"></span>
        <span class="dot d-block"></span>
      </div>
    </div>
    <p class="capital-icon-big">A</p>
    <p class="h4 mt-3 text-center">Juan hijo 1</p>
    <p class="mt-3 text-center disabled-h4">45kg</p>
    <div class="text-area-card disabled-text-area">
      <p class="">Intolerante a la lactosa. Alérgico a la amoxicilina, los ácaros del polvo y los gatos</p>
    </div>
</div>
